In [24]:
import pandas as pd
from xgboost import XGBRegressor

In [36]:
from sklearn.metrics import accuracy_score

In [44]:
import pickle

In [25]:
sales_data=pd.read_csv("after_preprocess.csv")

In [26]:
sales_data.head(10)

,Unnamed: 0,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,156,9.300000,0,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,1,8,5.920000,1,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,2,662,17.500000,0,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,3,1121,19.200000,1,0.000000,6,182.0950,0,1998,2,2,0,732.3800
4,4,1297,8.930000,0,0.000000,9,53.8614,1,1987,0,2,1,994.7052
5,5,758,10.395000,1,0.000000,0,51.4008,3,2009,1,2,2,556.6088
6,6,696,13.650000,1,0.012741,13,57.6588,1,1987,0,2,1,343.5528
7,7,738,12.857645,0,0.127470,13,107.7622,5,1985,1,2,3,4022.7636
8,8,440,16.200000,1,0.016687,5,96.9726,7,2002,2,1,1,1076.5986
9,9,990,19.200000,1,0.094450,5,187.8214,2,2007,2,1,1,4710.5350

In [27]:
sales_data.columns

Index(['Unnamed: 0', 'Item_Identifier', 'Item_Weight', 'Item_Fat_Content',
       'Item_Visibility', 'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [30]:
sales_data.drop("Item_Identifier",axis=1,inplace=True)

In [31]:
sales_data.head(10)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300000,0,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,5.920000,1,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,17.500000,0,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,19.200000,1,0.000000,6,182.0950,0,1998,2,2,0,732.3800
4,8.930000,0,0.000000,9,53.8614,1,1987,0,2,1,994.7052
5,10.395000,1,0.000000,0,51.4008,3,2009,1,2,2,556.6088
6,13.650000,1,0.012741,13,57.6588,1,1987,0,2,1,343.5528
7,12.857645,0,0.127470,13,107.7622,5,1985,1,2,3,4022.7636
8,16.200000,1,0.016687,5,96.9726,7,2002,2,1,1,1076.5986
9,19.200000,1,0.094450,5,187.8214,2,2007,2,1,1,4710.5350

In [32]:
regressor = XGBRegressor()

In [33]:
x=sales_data.drop("Item_Outlet_Sales",axis=1)
y=sales_data["Item_Outlet_Sales"]

In [35]:
regressor.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [38]:
y_predict_train=regressor.predict(x)

In [42]:
regressor.score(x,y)

0.8220870590071871

In [45]:
filename = 'Big_mart_model.sav'
pickle.dump(regressor, open(filename, 'wb'))#wb means write in binary format